#app {
    margin-top: 50px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
}

form {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 70%;
    background-color: rgb(235, 235, 235);
    border-radius: 7px;
}

input {
    width: 80%;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid blue;
    height: 25px;
    font-size: 15px;
    padding: 5px;
}

button {
    margin-top: 10px;
    height: 35px;
    width: 30%;
    border-radius: 7px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

small {
    font-size: 13px;
    width: 70%;
}
