body {
  background-color: rgb(175, 175, 175);
  text-align: center;
}
#app {
  display: inline-block;
  margin: 0 auto;
}

#app table {
  /* margin-top: 50vh; 
  transform: translateY(-50%); */
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: rgb(116, 130, 255);
}

#app td {
  display: table-cell;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 50px;
  vertical-align: middle;
}

#statutJeu {
  margin-top: 5rem;
}

#statutJeu p {
  font-size: 30px;
}

#statutJeu span {
  margin-right: 30px;
}