body {
    background-color: rgb(175, 175, 175);
    text-align: center;
}
#app {
    display: inline-block;
    margin: 0 auto;
}

#app table {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(116, 130, 255);
}

#app td {
    display: table-cell;
    border: 2px solid black;
    width: 35px;
    height: 35px;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
}

#app p {
    margin-top: 1rem;
    font-size: 19px;
    font-weight: bold;
}

ul {
    text-align: left;
    margin: 10px;
    list-style: inside;
    font-size: 19px;
}

li {
    margin-left: 20%;
}

#alerte {
    text-align: center;
    color: red;
}